In [1]:
import pandas as pd

In [2]:
# Create Kaggle Submission
d_sub = pd.read_csv("./data/sample_submission.csv")
dai_pred = pd.read_csv("./dai_output/dai_5_5_5_test_preds.csv") # <----- change this!!!

d_sub = pd.concat([d_sub['Id'].reset_index(drop=True), dai_pred], axis=1)
d_sub.columns = ['Id', 'SalePrice']
d_sub.head(5)

     Id      SalePrice
0  1461  120974.792550
1  1462  152829.337264
2  1463  177471.733987
3  1464  183466.008887
4  1465  183162.352462

In [3]:
# Write to CSV
d_sub.to_csv("./kaggle_submission/dai_5_5_5_submission.csv", index = False) # <------ change this!!!